body {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  justify-content: center;
}

div.thumbnail {
  margin:10px auto;
  text-align: center;
}

img.logo {
  width: 60%;
}

img.thumbnail {
  border-radius: 8px;
  max-width: 480px;
}

input[type="url"] {
  width: 400px;
}

form.download {
  margin-top: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
}

ul li {
  float: center;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #333333;
}